* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    height: 120px;
    width: 80vw;
    margin: auto;
    /* padding-top: 20px; */
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navbar img {
    height: 60px;
}

.price {
    display: flex;
    width: 34vw;
    justify-content: space-evenly;
    font-size: 18px;
}

.price i {
    font-size: 11px;
}

.search {
    display: flex;
    width: 18vw;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.search button {
    padding: 10px;
    padding-left: 21px;
    padding-right: 21px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 2px;
    color: rgb(48, 47, 47);
}

.search i{
    margin-right: 2px;
}


main{
    width: 62vw;
    margin: auto;
    margin-top: 50px;
}

.window{
    /* display: flex; */
    /* flex-direction: column; */
    text-align: center;
    justify-content: center;
}

.window h2{
    font-size: 3.2rem;
    font-weight: 100;
}

.window h2 span{
    font-weight: bold;
}

.window p{
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.window button{
    font-size: 18px;
    padding: 12px;
    padding-left: 23px;
    padding-right: 23px;
    border-radius: 10px;
    background-color: rgb(32, 80, 93);
    color: white;
    border-width: 0;
    box-shadow: 3px 3px 10px 3px rgb(36, 84, 115);
}

.download{
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.download h2{
    font-weight: lighter;
    font-size: 27px;
    margin-right: 8px;
}

.container{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item{
    max-width: 302px;
    background-color: #ebe6e6;
    padding: 16px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 8px 7px 15px 5px rgb(181, 234, 234);
}

.item h4{
    font-size: 22px;
}

.item button{
    padding: 6px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 5px;
    border-color:rgb(87, 209, 87);
    background-color: rgb(87, 209, 87);
    color: white;
}

footer{
    width: 75vw;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.footer p{
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
}

.footer ul li{
    list-style-type: none;
    font-size: 14px;
    padding-bottom: 6px;
    color: rgb(49, 49, 49);
}

.update{
    width: 180px;
    justify-content: center;
}

.update p{
    font-size: 14px;
    font-weight: lighter;
    margin-top: 15px;
    margin-bottom: 15px;
}

.update input{
    padding: 6px;
    border-radius: 4px;
    border: 0.2px solid rgb(91, 90, 90);
}

.update button{
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
    background-color: #0421ae;
    color: white;
    border-radius: 6px;
    box-shadow: 3px 3px 10px 3px rgb(131, 131, 158);
}

.end{
    width: 60vw;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rights img{
    height: 50px;
}

.rights p{
    font-size: 13px;
}

.end ul{
    display: flex;
    width: 16vw;
    justify-content: space-between;
    font-size: 25px;
}

.end ul li{
    list-style-type: none;
    cursor: pointer;
}

.join{
    background-color: black;
    color: white;
    padding: 20px;
    align-items: center;
}

.msi{
    width: 65vw;
    margin: auto;
}

.msi h3{
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 20px;
}

.msi p{
    font-size: 14px;
    font-weight: lighter;
    margin-bottom: 15px;
}

.sign{
    width: 65vw;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.news{
    width: 28vw;
    text-align: center;
    align-content: center;
    height: 300px;
    margin-right: 30px;
}

.news h3{
    font-size: 25px;
    font-weight: 300;
    padding: 15px;
}

.login{
    width: 25vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 10px 8px 4px rgb(91, 89, 89);
}

.login h3{
    margin-bottom: 50px;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 100;
    color: rgb(22, 13, 116);
}

.login input{
    width: 20vw;
    padding: 7px;
    margin-left: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    border: 0.2 px solid rgb(61, 60, 60);
}

.login button{
    width: 20vw;
    padding: 7px;
    margin-left: 30px;
    margin-bottom: 20px;
    background-color: rgb(20, 70, 134);
    border-width: 0;
    color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 3px rgb(35, 70, 134);
}

a{
    text-decoration: none;
}

@media only screen and (max-width: 500px) {
    .navbar{
        width: 95vw;
    }

    main {
        width: 90vw;
    }
    .price p{
        display: none;
        /*color: white;*/
        top: 0;
        left: 0;
    }

    .price{
        display: none
    }

    .search button{
        display:none;
        position: absolute;
        top: 0;
        left: 0;
    }

    .search{
        display:none
        border:none
    }

    .search p{
        display: none;
        color: white;
        top: 0;
        left: 0;
    }

    .download{
        flex-direction: column;
    }

    footer{
        flex-direction: column;
    }

    .sign{
        flex-direction: column;
    }

    .news{
        width: 60vw;
        justify-content: center;
        margin: auto;
    }
    .login{
        width: 200px;
        margin-left: 0;
        height: 200px;
    }

    .login h3{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .login button{
        margin-bottom: 10px;
    }

    .login input{
        margin-bottom: 10px;
    }
}
